{% extends 'layout.html' %}
{% load static %}


{% block Links %}

{% endblock Links %}

{% block title %}
Home
{% endblock title %}





{% block content %}
<div id="home" class=" mx-6">
    
    {% if messages %}
    <div class="block mt-4">

        {% for message in messages %}
        <article class="message is-success">
            <div class="message-header">
                <p>{{ message }}</p>
                <button class="delete" aria-label="delete"></button>
            </div>
        </article>
        {% endfor %}

    </div>
    {% endif %}

    <div class="block">
        <div class="tile is-ancestor mt-3">

            {% for product in last %}
                <div class="tile is-parent ">
                    <article class="tile is-child box ">
                        <header class="card-header notification is-warning">
                            <p class="card-header-title is-uppercase is-justify-content-center">
                                {{ product.title }}
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ product.image.url }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <div style="white-space:wrap; height:120px; overflow-y:hidden;">
                                    {{ product.description|safe }}
                                </div>
                                <br>
                                <span><strong>Precio:</strong></span>
                                <span>$ {{ product.price}}</span>
                            </div>
                        </div> 
                        <footer class="card-footer box is-justify-content-center">
                            <a href="{% url 'sitio:producto' product.id %}" class=" button is-success">Ver Producto</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'sitio:agregar' product.id %}" class=" button is-success">
                                    Agregar al Carro
                                </a>
                            {% endif %}
                        </footer>
                        
                            
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tile is-ancestor block is-dark is-outlined">
        <div class="tile is-parent is-justify-content-center is-align-content-center table-container">
            <table class="table is-striped">
                <thead class="notification is-info">
                    <tr>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>CATEGORIA</th>
                        <th>PRECIO</th>
                    </tr>
                    </th>
                <tbody>
                    {% for product in first %}
                    <tr>
                        <td class="">{{ product.id }} </td>
                        <td class="">
                            {% if user.is_staff %}
                            <a href="{% url 'sitio:productEdit' product.id %}">
                                {% else %}
                                <a href="{% url 'sitio:producto' product.id %}">
                                    {% endif %}
                                    {{ product.title }}
                                </a>
                        </td>
                        <td class=""> {{ product.categoria_pertenece }} </td>
                        <td class=""> ${{ product.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}